
  <div class="cover bottom">
    <div class="face">
      <div class="directional">
        <div class="joystick">
          <div class="stick"></div>
        </div>
        <div class="dpad">
          <div class="pad top"></div>
          <div class="pad left"></div>
          <div class="pad right"></div>
          <div class="pad bottom"></div>
          <div class="pad center"></div>
        </div>
      </div>
      <div class="touchpad">
        <div class="display"></div>
        <div class="home"></div>
      </div>
      <div class="buttons">
        <div class="action">
          <div class="button c"></div>
          <div class="button x">
            <span>X</span>
          </div>
          <div class="button y">
            <span>Y</span>
          </div>
          <div class="button a">
            <span>A</span>
          </div>
          <div class="button b">
            <span>B</span>
          </div>
        </div>
        <div class="usability">
          <div class="button start"></div>
          <div class="button select"></div>
        </div>
        <div class="leds">
          <div class="led power"></div>
          <div class="led wifi"></div>
          <div class="led charge"></div>
          <div class="led microphone"></div>
        </div>
      </div>
    </div>
  </div>
