<div class="cover back">
  <div class="section left">
    <div class="stickers"></div>
    <div class="tape left"></div>
  </div>
  <div class="center">
    <div class="sensors">
      <div class="camera left">
        <div class="lens">
          <div class="shutter"></div>
        </div>
      </div>
      <div class="camera right">
        <div class="lens">
          <div class="shutter"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section right">
    <div class="tape right"></div>
  </div>
  <div class="thickness"></div>
</div>
<div class="cover top">
  <div class="speaker left">
    <div class="holes">
      <div class="hole top"></div>
      <div class="hole left"></div>
      <div class="hole center"></div>
      <div class="hole right"></div>
      <div class="hole bottom"></div>
    </div>
    <div class="slider left">
      <div class="piece"></div>
    </div>
    <div class="triangle left"></div>
    <span class="text left">VOL.</span>
    <div class="tape left"></div>
  </div>
  <div class="screen">
    <div class="header">
      <div class="protector left"></div>
      <div class="sensors">
        <div class="camera">
          <div class="lens">
            <div class="shutter"></div>
          </div>
        </div>
        <div class="infrared"></div>
      </div>
      <div class="protector right"></div>
    </div>
    <div class="lcd">
      <div class="display"></div>
    </div>
  </div>
  <div class="speaker right">
    <div class="holes">
      <div class="hole top"></div>
      <div class="hole left"></div>
      <div class="hole center"></div>
      <div class="hole right"></div>
      <div class="hole bottom"></div>
    </div>
    <div class="slider right">
      <div class="piece"></div>
    </div>
    <div class="triangle right"></div>
    <span class="text right">3D</span>
    <div class="tape right"></div>
  </div>
</div>
