@import "../assets/settings/color";

$animation-time: 3s;
$animation-delay: 0s;
$animation-count: infinite;
$animation-direction: alternate;

@keyframes closeBackCoverMobile {
  0% {
    top: 18px;
    transform-origin: bottom;
    transform: rotateX(-180deg) translateZ(50px);
    z-index: 2;
  }

  13% {
    z-index: 2;
  }

  30% {
    top: 20px;
  }

  90% {
    top: 0px;
  }

  100% {
    z-index: 0;
    transform: rotateX(0) translateZ(0);
  }
}

@keyframes closeBackCoverDesktop {
  0% {
    top: 36px;
    transform-origin: bottom;
    transform: rotateX(-180deg) translateZ(100px);
    z-index: 2;
  }

  15% {
    z-index: 2;
  }

  30% {
    top: 40px;
  }

  90% {
    top: 0px;
  }

  100% {
    z-index: 0;
    transform: rotateX(0) translateZ(0);
  }
}
@keyframes closeCoverMobile {
  0% {
    top: 18px;
    transform-origin: bottom;
    background-color: $black;
    transform: rotateX(-180deg) translateZ(50px);
  }

  30% {
    top: 25px;
  }

  90% {
    top: 0px;
  }

  100% {
    top: 0px;
    transform: rotateX(0) translateZ(0);
    background-color: $primary;
  }
}

@keyframes closeCoverDesktop {
  0% {
    top: 36px;
    transform-origin: bottom;
    background-color: $black;
    transform: rotateX(-180deg) translateZ(100px);
  }

  30% {
    top: 50px;
  }

  90% {
    top: 0px;
  }

  100% {
    top: 0px;
    transform: rotateX(0) translateZ(0);
    background-color: $primary;
  }
}

@keyframes changeCoverColor {
  0% {
    background-color: $primary;
  }

  50% {
    background-color: $primary;
  }
  100% {
    background-color: $background;
  }
}

@keyframes changeCoverThicknessColor {
  0% {
    background-color: $primary;
  }

  60% {
    background: darken($primary, 20);
  }
  100% {
    background-color: $primary;
  }
}

@keyframes bottomCoverOpacity {
  0% {
    background-color: darken($primary, 20);
  }

  100% {
    background-color: $primary;
  }
}

@keyframes foldOpacity {
  0% {
    background-color: $primary;
  }

  30% {
    background-color: darken($primary, 10);
  }

  100% {
    background-color: $primary;
  }
}
