// Body
$background: #24a5a5;

// Global
$black: #000;
$white: #fff;
$mirage: #17212e;
$transparent: #00000000;

// 3DS Core
$primary: #c43131;
$secondary: darken($primary, 25%);
$border-color: $mirage;

// Shadow/Light
$shadow: rgba(0, 0, 0, 25%);
$light: rgba(255, 255, 255, 60%);

// 3DS Components
$button-x: #5487c0;
$button-y: #53a484;
$button-a: #fc6064;
$button-b: #dec15d;
